Add blog post for <%= versions_str %> patch release.

<% if security_fixes? %>
- [ ] Complete any sections of the blog post that have TODO in their content.

Security release tracking issue: <%= security_tracking_issue.web_url %>
<% else %>
Patch issue: <%= patch_issue_url %>
<% end %>
